[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=create_alias
Icon=link

[Desktop Action create_alias]
Name=Create Alias
Icon=link
Exec=ln -s %f "%f (Shortcut)"
